body{
    -webkit-appearance:none;
    font-family: Arial, sans-serif;
    margin:0 0;
    padding:0 0;
    width:100%;
    background-color: #cacaca;
}
li{
    list-style:none;
}
header{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width: 100%;;
    background-color: rgb(105, 221, 163);
    height:40px;
}
.header-left{
    font-weight:bold;
    margin-left:10px;
    line-height:40px;
    float:left;
    color:white;
}
.header-left p{
    margin:0 0;
}
.header-right{
    line-height:40px;
    float:right;
    color:white;
}
.header-right input{
    height:40px;
    border:1px solid rgb(83, 82, 82);
    cursor:pointer;
    background-color: rgb(83, 82, 82);
    color:#fff;
    opacity:0.7;
}
.header-right input:hover{
    opacity:0.8;
}
.main{
    margin:30px 0;
    padding: 0 0;
}
.container-all{
    width: 100%;
    height: 600px;
    margin:0 auto;
    margin-top:40px;
}
.container-left{
    float:left;
    padding-left:30px;
    font-weight:bold;
    padding-top:20px;
}
.container-main{
    border-left:3px solid rgba(79, 163, 189, 0.87);
    color:#505050;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:100px;
    width:60%;
    background-color: #cacaca;
    margin:0 auto;
    text-align:center;
}
textarea{
    font-size: 17px;
    height:120px;
    width: 300px;
}
.comments{
    background-color: #cacaca;
    width: 500px;
    margin:0 auto;
    margin-top:60px;
}
.comment-user{
    font-weight:bold;
    text-align:center;
}
.commentSection{
    margin-top:10px;
}
.fas{
    float:right;
    margin:0 6px;
}
.fa-thumbs-up{
    /*color:#399dc2;*/
    color:rgb(110, 106, 106);
}
.fa-thumbs-down{
    /*color:#db5858;*/
    color:rgb(110, 106, 106);
}
.postedLike{
    color:#399dc2;
}
.postedDislike{
    color:#db5858;
}
i{
    cursor:pointer;
}
.bttn{
    color:rgb(211, 207, 207);
    border:1px solid;
    cursor:pointer;
}
.btn-sub{
    background-color: rgb(107, 74, 226);
}
.btn-reset{
    background-color: rgb(224, 110, 110);
}
.fa-bars{
    background-color: #eaeaea;
    border:1px solid #a89f9f;
    border-radius: 4px;
    padding:3px 3px;
}
.dropdown{
    float:right;
}
ul.dropdown-menu.res-btn.show{
    min-width:70px;
    padding:0 0;
    margin-left:7px;
}
.dropdown-item form input{
    border:none;
    padding:0 0;
    background-color: #fff;
}
.dropdown-item form input:active{
    background-color: #007bff;
    color:#fff;
}
.dropbtn{
    text-align:center;
    height:15px;
    line-height:13px;
}
.dropdown-item{
    cursor:pointer;
    width:100%;
    padding:0.25rem 1.1rem!important;
    margin-right:15px;
}
.btn:hover{
    opacity:0.8;
}
.comment-main{
    width:60%;
    margin:0 auto;
}
.res-del{
    background-color: rgb(233, 106, 106);
    border-radius: 6px;
}
.next-btn{
    float:left;
    margin:0 0 30px 30px;
}
.prev-btn{
    float:right;
    margin:0 0 30px 30px;
}


@media (max-width:768px){
    .container-left{
        display:none;
    }
    .container-main{
        width:100%;
        padding-left:0px;
        border:none;
    }
    .comments{
        width:80%;
    }
}